.box, .box1, .box2, .box3 {
    padding: 30px;
    border: 5px solid transparent;
    margin: 20px;
}

.box {
    background-color: black;
    color: bisque;
}
.box1 {
    background-color: antiquewhite;
    color: black;
}
.box2 {
    background-color: aquamarine;
    color: brown;
}
.box3 {
    background-color: brown;
    color: blue;
}
img {
    display: block;
    margin-bottom: 10px;
}
a {
    display: block;
    margin-bottom: 10px;
}
